.wrap{
	width: 1100px;
	height: 100%;
	background-color: #ffffff;
	margin: 0 auto;
	padding-top: 2px;
}
.section{
	margin: 25px 25px;
	overflow: hidden;
}
.section .part-1{
	width: 50%;
	float: left;
}
.section .part-2{
	width: 45%;
	float: left;
}
.section .introinfo{
	color: #0066cc;
	font-size: 16px;
}
.section .text{
	margin-left: 15px;
}
.section .introinfo img{
	vertical-align:middle;
}