.wrap{
	width:1100px;
	margin: 0 auto;
	/*background-color: #ffffff;*/
	padding: 20px 30px; 
}
.section{
	margin: 25px 25px;
}
.section .introinfo{
	color: #0066cc;
	font-size: 16px;
}
.section .text{
	margin-left: 15px;
}
.section .introinfo img{
	vertical-align:middle;
}
.section .introtext span{
	color: #f30c0c;
}
.section .selfinfo{
	width: 100%;
	height: 240px;
	border: 1px solid #999;
	background-color: #f7fdff;
	overflow: hidden;
}
.section .selfinfo .selflogo{
	width: 196px;
	height: 76px;
	background-color: #d8d8d8;
	border-radius: 5px;
	margin-left: 65px;
    margin-top: 15px;

}
.section .selfinfo .selfcode{
	margin-top: 20px;
	margin-left: 100px;
}
.section .selfinfo .selfbtn{
	margin-top: 80px;
	margin-left: 10px;
}
.part-1,.part-2,.part-3{
	width: 33%;
	/*text-align: center;*/
	float: left;
}
.row{
	margin-top: 14px;
	overflow: hidden;
}
.text-left{
	width: 40%;
	float: left;
	text-align: right;
}
.text-right{
	width: 55%;
	float: left;
	text-align: left;
}
table{
	width: 100%;
	border-collapse:collapse;
}
table thead{
	background-color: #d8d8d8;
	height: 26px;
}
table tr{
	border: 1px solid #999;
}
table th,table td{
	border: none;
	text-align: center;
}
.bookname{
	color: #0000ff;
}
.enddate{
	color: red;
}